<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AuthCar2015.Properties.Settings.db_locadoraConnectionString"
            connectionString="Data Source=(local);Initial Catalog=db_locadora;Persist Security Info=True;User ID=Sa;Password=pa$$word_2015"
            providerName="System.Data.SqlClient" />
        <add name="AuthCar2015.Properties.Settings.db_locadoraConnectionString1"
            connectionString="Data Source=SUPORTE-PC;Initial Catalog=db_locadora;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>